/* ========================================================================== */
/* SINGLE PRODUCT CELL */
/* ========================================================================== */

.product-card{
    padding: 0px;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.product-card__link{
    padding: 20px;
    z-index: 1;
    position: relative;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: $gray-1000;
    text-align: left;
    transition: 0.3s ease box-shadow;
    height: 100%;

}

.product-card__top{
    width: 100%;
    position: relative;

    &:hover, &:active, &:focus{
        text-decoration: none;
    }
}
.product-card__thumb{
    position: relative;
    padding-bottom: 100%;
}
.product-card__imgWrap{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-card__img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-card__tags{
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
}
.product-card__tagsRight{
    position: absolute;
    left: auto;
    right: -10px;
    top: -10px;
    z-index: 1;
    text-align: right;
}
.product-card__tagSingle{
    display: block;
}
.product-card__status{
    font-weight: 500;
margin-top: 10px;
  padding: 2px 10px;
display: inline-flex;
font-size: 12px;
}
.product-card__status{
    border: 1px solid #399841;
    background: rgba(57, 152, 65,0.05);
    }
.product-card__status.--used{
border: 1px solid #FDDB01;
background: rgba(253,219,1,0.05);
}
.product-card__status.--repas{
border: 1px solid #262626;
  background: rgba(23,23,23,0.05);
}
.product-card__title{
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 20px 0;
}
.product-card__bottom{
    width:100%;
    padding: 0;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
}
.product-card__description{
    font-size: 13px;
    color: $gray-500;
    text-align: left;
    overflow: hidden;
    max-height: 48px;
    margin-top: 15px;
    line-height: 1.2;
    flex-grow: 1;
    display: flex;
    width: 100%;
    height: 100%;
}
.product-card__delivery{
    flex-grow: 1;
    line-height: 1.2;
    display: flex;
    text-align: left;
    justify-content: left;
}   
.product-card__delivery img{
    height: 16px;
    width: 16px;
}
.product-card__deliveryText{
    margin: 0;
    color: $green-500;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 6px;
}
.product-card__deliveryText.--unavailable{
    color: $gray-500;
}
.product-card__price{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    flex-wrap: wrap;
    padding-top: 20px;
    flex-shrink: 0;
}
.product-card__priceOld{
    text-decoration: line-through;
    margin: 0 5px 0 0;
    line-height: 1;
}
.product-card__priceMain{
    color: $red-500;
    line-height: 1;
    font-size: 18px;
    font-weight: 500;    
    margin: 0 5px;
}
.product-card__priceDph{
    color: $gray-500;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 20px;
}
.product-card__bottom .btn{
    width: 100%;
    height: auto;

    &:hover{
        color: $gray-1000;
        box-shadow: none;
        background: transparent;
        border: 2px solid $gray-1000;
    }
}
.product-card__btn{
    display: none;
    height: 54px;
}


@media screen and (min-width:992px){
    .product-card{
        &:hover, &:active, &:focus{
            

            .product-card__link{
                text-decoration: none;
                height: auto;
                position: relative;
                left: 0;
                right: 0;
                height: 100%;

                .product-card__delivery{
                    
                }
                .product-card__btn{
                    display: flex;
                    margin-top: 20px;
                }  
            }
        }
    }
}


@media screen and (max-width:575px){
     .product-card{
        
    }
    .product-card__title{
        font-size: 15px;
        line-height: 1.25;
        text-align: left;
        padding: 20px 10px 10px 10px;
    }
    .product-card__bottom{
        padding: 0 10px 20px 10px;
    }
    .product-card__delivery{
        display: none;
    }  
    .product-card__price{
        padding-top: 0;
        justify-content: flex-start;
        align-items: baseline;
    }
    .product-card__priceOld{
        margin: 0;
        margin-right: 10px;
        font-size: 14px;
    }
    .product-card__priceMain{
        margin: 0;
        font-size: 16px;
    }
    .product-card__thumb .product-card__tagsRight{
        display: none;
    }
    .product-card__thumb .product-card__tags {
        top: 5px;
        left: 5px;
    }
}
