section.carousel
    .container


        .swiffy-slider.slider-item-nogap
            ul.slider-container.product-slider
                li
                    a.item(href="/produkt-detail.html")
                        picture 
                            img(src="/img/carousel/banner1.jpg" width="1300" height="520" alt="#" title="#" loading="lazy")
                li
                    a.item(href="/produkt-detail.html")
                        picture 
                            img(src="/img/carousel/banner1.jpg" width="1300" height="520" alt="#" title="#" loading="lazy")
                li
                    a.item(href="/produkt-detail.html")
                        picture 
                            img(src="/img/carousel/banner1.jpg" width="1300" height="520" alt="#" title="#" loading="lazy")
                li
                    a.item(href="/produkt-detail.html")
                        picture 
                            img(src="/img/carousel/banner1.jpg" width="1300" height="520" alt="#" title="#" loading="lazy")



            button(type="button" class="slider-nav")
            button(type="button" class="slider-nav slider-nav-next")