section.carousel
    .container


        .swiffy-slider.slider-item-nogap
            ul.slider-container.product-slider
                li
                    .item
                        picture 
                            img(src="https://via.placeholder.com/1300x520" width="1300" height="520" alt="#" title="#" loading="lazy")
                li
                    .item
                        picture 
                            img(src="https://via.placeholder.com/1300x520" width="1300" height="520" alt="#" title="#" loading="lazy")
                li
                    .item
                        picture 
                            img(src="https://via.placeholder.com/1300x520" width="1300" height="520" alt="#" title="#" loading="lazy")
                li
                    .item
                        picture 
                            img(src="https://via.placeholder.com/1300x520" width="1300" height="520" alt="#" title="#" loading="lazy")



            button(type="button" class="slider-nav")
            button(type="button" class="slider-nav slider-nav-next")