nav(id="mainNav")
    .container
        form(method="post")
            .nav-item 
                select
                    option(value="") Vyberte značku
                    option(value="BMW") BMW
                    option(value="BMW") BMW
                    option(value="BMW") BMW
                    option(value="BMW") BMW
                    option(value="BMW") BMW

            .nav-item 
                select
                    option(value="") Vyberte model
                    option(value="BMW") BMW
                    option(value="BMW") BMW
                    option(value="BMW") BMW
                    option(value="BMW") BMW
                    option(value="BMW") BMW

            button.btn Vyhledat

        .nav-item-backdrop