section.social
    .container
        .instagram-wrap
            .row 
                .col-4.col-md-2
                    a.instagram-single(href="#")
                        img.lazyload(src="/img/load-symbol.svg" data-src="/img/contact.jpg" alt="#" width="220" height="220")
                .col-4.col-md-2
                    a.instagram-single(href="#")
                        img.lazyload(src="/img/load-symbol.svg" data-src="/img/contact.jpg" alt="#" width="220" height="220")
                .col-4.col-md-2
                    a.instagram-single(href="#")
                        img.lazyload(src="/img/load-symbol.svg" data-src="/img/contact.jpg" alt="#" width="220" height="220")
                .col-4.col-md-2
                    a.instagram-single(href="#")
                        img.lazyload(src="/img/load-symbol.svg" data-src="/img/contact.jpg" alt="#" width="220" height="220")
                .col-4.col-md-2
                    a.instagram-single(href="#")
                        img.lazyload(src="/img/load-symbol.svg" data-src="/img/contact.jpg" alt="#" width="220" height="220")
                .col-4.col-md-2
                    a.instagram-single(href="#")
                        img.lazyload(src="/img/load-symbol.svg" data-src="/img/contact.jpg" alt="#" width="220" height="220")
                                                                                    
